<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body th:object="${post}">
    <h1>Post by <span th:text="*{author.name}">John Doe</span></h1>
    <p class="createdAt">
      Created at:
      <span th:text="${#calendars.format(post.createdAt, 'dd/MMM/yyyy HH:mm')}"></span>
      <!-- <span th:text="${#temporals.format(post.createdAt, 'dd/MM/yyyy')}"></span> -->
    </p>
    <h2 th:text="*{title}">post title.</h2>
    <p th:text="*{content}">This is a post.</p>
    <p>Likes: <span th:text="*{likesCount}">0</span></p>
    <ul>
      <li th:each="tag : ${post.tags}">
          <span th:text="${tag.name}"></span>
      </li>
  </ul>
    <!-- <ul class="comments">
      <li th:each="comment : ${commentList}">
        <p th:text="${comment.content}">This is a comment.</p>
        <p>By: <span th:text="${comment.user.name}">John Doe</span></p>
        <button class="reply-btn" onclick="toggleForm(this)">REPLY!</button>
        <form
          action="#"
          th:action="@{/forum/post/{id}/reply/{parentId}(id = ${post.id}, parentId = ${comment.id})}"
          method="post"
          hidden
          id="replyToCommentForm"
        >
          <input type="text" name="content" id="content" />
          <input type="submit" value="reply!" />
        </form>
        <ul class="replies">
          <li th:each="reply : ${comment.replies}">
            <p th:text="${reply.content}">this reply</p>
            <p>By: <span th:text="${reply.user.name}">John Doe</span></p>
            <p>repling to <span th:text="${reply.parent.user.name}"></span></p>
            <button class="reply-btn" onclick="toggleForm(this)">REPLY!</button>
            <form
              action="#"
              th:action="@{/forum/post/{id}/reply/{parentId}(id = ${post.id}, parentId = ${reply.parent.id})}"
              method="post"
              hidden
              id="replyToReplyForm"
            >
              <input type="text" name="content" id="content" />
              <input type="submit" value="reply!" />
            </form>
          </li>
        </ul>
      </li>
    </ul>
    <form
      method="post"
      action="#"
      th:action="@{/forum/post/{id}/like(id = ${post.id})}"
    >
      <input type="submit" value="Like!" />
    </form>
    <form
      action="#"
      th:action="@{/forum/post/{id}/comment(id = ${post.id})}"
      th:Object="${commentForm}"
      method="post"
    >
      <label for="comment">comment</label>
      <textarea
        name="content"
        id="content"
        cols="30"
        rows="10"
        th:field="*{content}"
      ></textarea>
      <input type="submit" value="comment!" /> -->
    </form>
    <script>
      // const toggleForm = (btn) => {
      //   const form = btn.nextElementSibling;
      //   form.hidden = !form.hidden;
      // };
    </script>
  </body>
</html>
